body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
}

.answerBar {
  height: 30vh;
  width: 30vw;
  background-color: #333333;
  display: flex;
  align-items: flex-end;
}

#navBar {
  width: 10vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4vh !important;
}

.result {
  margin: 1.75vh 3.5vw;
  font-size: 8vh;
  color: #ededed;
}

.row {
  display: flex;
  align-items: center;
}

.grid {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
}

.button {
  height: 7.5vw;
  width: 10vw;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.8vh;
}

.button:hover {
  background-color: #aacbff;
}

.fatButton {
  height: 9vw;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  background-color: #44ff4b;
}

#specButton {
  background-color: #aacbff;
}

#specButton:hover {
  background-color: #2170ef;
}

.clicked {
  background-color: #2170ef !important;
}

.fatButton:hover {
  background-color: #29ad2e;
}

#dark {
  font-size: 4vh;
  background-color: #333333;
  color: #ededed;
}

#dark:hover {
  color: #2170ef;
}
